<div class="container-fluid">
    <table class="table table-striped table-hover table-dark">
        <thead>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
           
            <th>Actions</th>
        </thead>
        <tbody>
            <tr *ngFor="let contact of contacts">
                <td>{{contact.id}}</td>
                <td>{{contact.name}}</td>
                <td>{{contact.email}}</td>
                
                <td><button class="btn btn-primary" (click)="showContact(contact)">View Details</button></td>
            </tr>
        </tbody>
    </table>
    <div class="contaier" *ngIf="selectedContact">
        <div class="row">
            <div class="col-2">
                ID
            </div>
            <div class="col">
                {{selectedContact.id}}
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                Name
            </div>
            <div class="col">
                {{selectedContact.name}}
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                Email
            </div>
            <div class="col">
                {{selectedContact.email}}
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                Description
            </div>
            <div class="col">
                {{selectedContact.description}}
            </div>
        </div>
        
    </div>
</div>
